@tailwind base;
@tailwind components;
@tailwind utilities;

.hade-line-anemation {
  animation: slide-left 20s linear infinite;
}
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
